	div{
	font-family: "Crewniverse";
	text-align: center;
	color: #ECCC9B;
    text-shadow: -1px 0 #52607E, 0 1px #52607E, 1px 0 #52607E, 0 -1px #52607E;
	}
	hr{
	border: none;
	background-color: #ECCC9B;
	height: 5px;
	width: 80%;
	}
	.count {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	}
	.head {
	font-size: 110%;
	}
	.tab {
	position: relative;
	transform: translate(0%, 110%);
	font-size: 100%;
	width: 100%;
	height: 100%;
	}
	body {
    background-image: url("9.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    }
	table {
    border-collapse: collapse;
	color: #ECCC9B;
	width: 95%;
	}
	td {
	padding: 3px;
	text-align: center;
	border: 1px solid #ECCC9B;
	padding: 4px;
	}
	a {
    text-decoration: none;
	color: #81A8FF;
	}
	a:visited {
	color: gold;
	}
	a:hover {
	color: hotpink;
	}
	@font-face {
    font-family: Crewniverse;
    src: url('crewniverse_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}